
@{
    ViewData["Title"] = "IndexAr";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminAr.cshtml";
}

@model ViewmMODeElMASTER
@inject UserManager<ApplicationUser> userManager
@inject SignInManager<ApplicationUser> signInManager

@{
    var user = await userManager.GetUserAsync(User);
    var roles = await userManager.GetRolesAsync(user);
    var userRole = roles.FirstOrDefault();
}
<link rel="stylesheet" href="~/css/home.css">

<div class="row small-spacing">
    <div class="col-xs-12">
        <div class="box-content">
            <div class="row">
                <div class="col-5 col-md-4 col-sm-6 col-xs-12">
                    <a asp-area="Admin" class="box-content-link" asp-controller="Accounts" asp-action="RegistersAr" asp-route-userId="@user.Id">
                        <div class="icon-box">
                            <i class="fa fa-user"></i>
                            <h4>معلومات المستخدمين</h4>
                        </div>
                    </a>
                </div>
                <div class="col-5 col-md-4 col-sm-6 col-xs-12">
                    <a asp-area="Admin" class="box-content-link" asp-controller="Accounts" asp-action="RolesAr" asp-route-userId="@user.Id">
                        <div class="icon-box">
                            <i class="fa fa-cog"></i>
                            <h4>الصلاحيات</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="logout-button-container">
                <a href="#" class="logout-button">تسجيل الخروج</a>
            </div>
        </div>
    </div>
</div>
